* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* base navigacja  */

nav {
    height: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    animation: zanikanie 2s linear;
    
}

#menu {
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
}

nav img {
    height: 50%;

}
a {
    text-decoration: none;
    padding: 4px;
    color: black;
    font-size: x-large;
}

a:hover {
    background-color: goldenrod;
    color: white;
}

#social {
    padding: 1px;
    font-size: 20px;
}

@keyframes zanikanie {
    0% {opacity: 0%;}
    50% {opacity: 50%;}
    100% {opacity: 100%;}
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        height: 100vh;
        justify-content: stretch;
    }
    #menu {
        flex-direction: column;
        justify-content: stretch;
    }
    nav img {
        height: 20%;
    }

}

/* index.html  */

#index-content {
    background-color: black;
    color: goldenrod;
    height: 85vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
    
}

 #index-content section {
     padding: 2%;
 }


 /* strona do logowania  */

 #logowanie-content {
     display: flex;
     justify-content: center;
     align-items: center;

 }

 #logowanie-content section {
    display: flex;
    width: 400px;
    background-color: goldenrod;
    color: black;
    border-radius: 5px;
    padding: 6px;

}

/* strona kursy  */

#kursy-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: goldenrod;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kursy-content a {
    color: white;
}

/* strona kursdetal  */

#kursdetal-content {
    display: flex;
    flex-direction: row;
    height: 85vh;
    color: goldenrod;
    background-color: black;
    flex-wrap: wrap;
}

#kursdetal-content div {
    padding: 1%;
}

#kdc-nk {
    font-size: 25px;
    flex-basis: 30%;
}

#kdc-ok {
    font-size: 20px;
    flex-basis: 50%;
    color: teal;
}

#kdc-ck {
    font-size: 15px;
    flex-basis: 25%;
    color: coral;
}

@media (max-width: 600px) {
    #kursdetal-content {
        flex-direction: column;
    }

    #kdc-nk {
        font-size: 25px;
        flex-basis: 0%;
    }
    
    #kdc-ok {
        font-size: 25px;
        flex-basis: 0%;
    }
    
    #kdc-ck {
        font-size: 25px;
        flex-basis: 0%;
    }

}

#trenerzy-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    color: goldenrod;
    height: 85vh;
  
}

#trenerzy-content img {
    height: 50%;
    padding: 1%;
    flex-basis: 30%;
    
}

#trenerzy-content div {
    flex-basis: 70%;
}

@media (max-width: 807px) {
    #trenerzy-content {
        flex-direction: column;
      
    }
    #trenerzy-content div {
        flex-basis: 0%;
        font-size: 60%;
        
    }
    #trenerzy-content img {
        height: 50%;
        padding: 6%;
        
    }

}

#kontakt-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: goldenrod;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

#kontakt-content a {
    color: white;
}

#kontakt-content p {
    margin: 5px;
}