{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
    <div id="index-content">
        <section>tu beda jakies dane o szkole
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eligendi quae, sit qui provident voluptatem culpa deleniti quos quasi sapiente totam aliquam magni adipisci quibusdam sed atque harum, blanditiis in.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eaque neque, earum nisi ullam quidem alias sit ducimus corrupti perferendis rem est facere voluptatem maxime ipsam laudantium inventore, assumenda iure!
            Doloribus, error corrupti officiis maxime eum suscipit magnam neque at, quia facilis alias tempora accusantium sed possimus eius, temporibus eaque fugiat aperiam dolor earum iusto velit! Labore unde quam sit?
            Ea recusandae nam libero omnis? Temporibus id debitis iste dignissimos alias exercitationem accusantium neque molestiae veritatis dicta, repellat ad maxime vitae quis architecto ut quo incidunt! Neque error aliquam quod.
            Distinctio necessitatibus voluptatum pariatur est fuga aliquid corrupti expedita voluptas quisquam sapiente. Commodi cupiditate esse autem laudantium iste tempora ea, itaque laboriosam, exercitationem vitae illum voluptas asperiores expedita, rem impedit.
        </section>
    </div>
{% endblock %}