{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<div id="trenerzy-content">
    
    <img src="{{ url_for('static', filename='gosia.jpg')}}" alt="">
    
    
    <div>
        <h1>Małgorzata Poliszuk</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi illum magnam fugiat. Expedita aliquam quae temporibus earum, tempore, saepe quia sapiente eos esse deleniti nisi voluptate exercitationem, soluta quas ducimus?
            Exercitationem cupiditate sequi qui fugiat assumenda nobis, molestiae dignissimos provident a nesciunt repellat maiores voluptatibus impedit in quo saepe. Soluta quae libero autem laudantium suscipit, quas incidunt dolorum praesentium ducimus?
            Quos eum a odio sed vitae! Consequatur eius impedit modi itaque ducimus, cum explicabo consectetur unde blanditiis ipsam nemo soluta accusantium. Praesentium aliquam architecto quos dignissimos officiis harum saepe possimus?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis odio vel culpa nihil alias voluptatem repellat nostrum ea blanditiis quia suscipit modi nemo laborum voluptatibus impedit quibusdam, earum, reprehenderit possimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed facere magni nihil possimus quaerat maiores provident totam, earum architecto assumenda saepe, iste quibusdam neque officia unde. Officia, laboriosam beatae!
        </p>
    </div>
</div>
    

{% endblock %}